<div class="container">
  <div class="my-3">
    <span class="title">Monte seu Açaí</span>
  </div>

  <app-selecionar-item
    id="tamanhos"
    titulo="Tamanho"
    [opcoes]="tamanhosModel"
    [escolhaAte]="1"
    (selecionarOpcao)="handleSelectTamanho($event)"
  ></app-selecionar-item>

  <app-selecionar-item
    id="acrescimos"
    titulo="Acréscimos"
    [opcoes]="acrescimosModel"
    [escolhaAte]="3"
    [totalSelecionados]="getTotalAcrescimosSelecionados()"
    (selecionarOpcao)="handleSelectAcrescimo($event)"
  ></app-selecionar-item>
</div>