<div class="container">
  <div class="my-3">
    <span class="title">Monte seu Açaí</span>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">Tamanho</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let tamanho of tamanhos; let i = index">
        <div class="form-check">
          <input id="tamanho{{ i }}" class="form-check-input" type="radio" name="tamanho" value="{{ tamanho }}"
            (change)="handleSelectTamanho($event)">
          <label class="form-check-label" for="tamanho{{ i }}">{{ tamanho }}</label>
        </div>
      </li>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5 class="card-title">Acréscimos</h5>
      <h6 *ngIf="acrescimosSelecionados.length === 0" class="card-subtitle text-muted">Escolha até 3</h6>
      <h6 *ngIf="acrescimosSelecionados.length === 1" class="card-subtitle text-muted">Escolha até 3 ({{
        acrescimosSelecionados.length }} selecionado)</h6>
      <h6 *ngIf="acrescimosSelecionados.length > 1" class="card-subtitle text-muted">Escolha até 3 ({{
        acrescimosSelecionados.length }} selecionados)</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let acrescimo of acrescimos; let i = index">
        <div class="form-check">
          <input id="acrescimo{{ i }}" name="tamanho{{ i }}" class="form-check-input" type="checkbox"
            value="{{ acrescimo }}" (change)="handleSelectAcrescimo($event, acrescimo)" />
          <label class="form-check-label" for="acrescimo{{ i }}">{{ acrescimo }}</label>
        </div>
      </li>
    </ul>
  </div>
</div>